/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bootstrap
 *= require_tree .
 *= require_self
 */


/****** applies to everything ******/ 

 * {
    font-family: 'Assistant'
 }

 body {
     background: #2c2d2f;
 }

 a {
     text-decoration: none;
     color: black;
     transition: all ease-in-out .3s;
 }

 a:hover {
    text-decoration: none;
    color: white;
 }

 h2 a:hover {
    text-decoration: none;
    color: #5593ce;
 }

.background_pic {
    position: absolute;
    z-index: -1;
}

h1 {
    font-weight: bold;
}

.container {
  margin-top: 35px;
}


/***** boards *****/

.board_div {
    margin: 25px 0;
}

/***** lits *****/
.list-flex {
    display: flex;
    flex-direction: inline;
    justify-content: center;
    flex-wrap: wrap;
}

.margin {
    margin: 0 25px;
}

.margin_2 {
    margin: 0 20px;
}
.button_flex {
    display: flex;
    flex-direction: row;
    margin: 10px 10px;
}